body {
	font-family:  'Oswald', sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.container {
	display: flex;
	flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    width: 80%;
	margin: 40px auto;
	border: 2px solid black;
}
.container h2 {
	margin: 0;
	text-align: center;
}
.inputs {
	display: flex;
	align-items: stretch;
}
.inputs input {
	flex-grow: 1;
	min-width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	border: 2px solid black;
}
.labels {
	display: flex;
}
.labels>* {
	width: 33%;
	text-align: center;
}
#convertButton {
	box-sizing: border-box;
	background: black;
	color: white;
	font-family:  'Oswald', sans-serif;
	font-size: 18px;
    border: 2px solid black;
}
#convertButton:hover {
	background: lightgray;
	color: black;
}
#changeButton {
	background: none;
	border: none;
	font-family:  'Oswald', sans-serif;
	text-decoration: underline dashed green;
	cursor: pointer;
}
